body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(istockphoto-1365629382-612x612.jpg);
    color: #333;
}

header {
    background: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #4CAF50;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.titulo {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2px;
    border-bottom: 6px solid #4CAF50;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.row {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.box1 {
    width: 600px;
    height: 360px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid #000000;
    padding: 20px;
}

.titbox {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.boxcont {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box2 {
    width: 600px;
    height: 815px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid #000000;
    padding: 20px;
}

.titbox2 {
    font-size: 30px;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.item {
    font-size: 22px;
}

.foto {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: contain;
    border: 2px solid #000000;
}

.ft {
    background-color: #000000;
    border-top: 6px solid #4CAF50;
}

.ftcont {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
